button {
  cursor: pointer;
  border-radius: var(--size-radius);
  height: var(--size-button);
  color: var(--color-button-label);
  padding: 0 var(--size-medium);

  &:active {
    background-color: var(--color-button-active);
  }

  &:hover {
    background-color: var(--color-button-hover);
  }
}
