.button {
  cursor: pointer;
  border-radius: var(--size-radius);
  width: 100%;
  height: var(--size-button-medium);
  color: var(--color-button-label);
  padding: 0 var(--size-medium);

  &:active {
    opacity: 0.9;
  }

  &--primary {
    background-color: var(--color-button);
  }

  &--input {
    width: min-content;
    border-radius: 0 var(--size-small) var(--size-small) 0;
    background-color: var(--color-button);
  }
}
