:root {
  --color-primary: #6e74b6;
  --color-second: #f7f6fe;
  --color-third: #cfcfd1;
  --color-default: #fff;
  --color-text: #4a4a4a;
  --color-input: var(--color-default);
  --color-input-reverse: var(--color-second);
  --color-input-text: var(--color-text);
  --color-button: var(--color-primary);
  --color-button-label: #f7f6fe;
  --color-border: var(--color-third);
  --color-overlay: rgba(110, 116, 182, 0.9);
  --color-text-fixed: #f7f6fe;
  --color-error: #fbd5d9;
  --color-error-text: #760b18;
  --color-error-input: #ff0033;
  --color-success: #d0edda;
  --color-success-text: #00591f;
  --color-warning: #fff2cf;
  --color-warning-text: #947426;
}

:root .dark-theme {
  --color-primary: #6e74b6;
  --color-second: #252934;
  --color-third: #3e4042;
  --color-default: #181e25;
  --color-text: #f7f6fe;
  --color-input: var(--color-default);
  --color-input-text: var(--color-text);
  --color-input-reverse: #252934;
  --color-border: var(--color-third);
}
