:root {
  --color-primary: #6e74b6;
  --color-second: #f7f6fe;
  --color-third: #cfcfd1;
  --color-default: #fff;
  --color-texto: #4a4a4a;
  --color-input: var(--color-default);
  --color-input-reverse: var(--color-second);
  --color-input-texto: var(--color-texto);
  --color-button: var(--color-primary);
  --color-button-active: #383a57;
  --color-button-hover: #767bbe;
  --color-button-label: var(--color-texto-fixed);
  --color-border: var(--color-third);
  --color-overlay: rgba(110, 116, 182, 0.8);
  --color-texto-fixed: #f7f6fe;
  --color-erro: #fbd5d9;
  --color-erro-texto: #760b18;
  --color-erro-input: #ff0033;
  --color-sucesso: #d0edda;
  --color-sucesso-texto: #00591f;
  --color-alerta: #fff2cf;
  --color-alerta-texto: #947426;
}

:root .dark-tema {
  --color-primary: #6e74b6;
  --color-second: #252934;
  --color-third: #3e4042;
  --color-default: #181e25;
  --color-texto: #f7f6fe;
  --color-input: var(--color-default);
  --color-input-texto: var(--color-texto);
  --color-input-reverse: #252934;
  --color-border: var(--color-third);
}
