:root {
  --size-xx-small: 1px;
  --size-x-small: 4px;
  --size-small: 8px;
  --size-medium: 16px;
  --size-large: 24px;
  --size-x-large: 32px;
  --size-xx-large: 40px;

  --size-header-phone: 42px;
  --size-header-tablet: 112px;
  --size-header-desktop: 64px;

  --size-button-medium: 40px;
  --size-icon-small: 16px;
  --size-icon-medium: 20px;
  --size-input-medium: 40px;
  --size-scroll: 0px;
  --size-border: 0.5px;
}
