:root {
  --size-xx-small: 1px;
  --size-x-small: 4px;
  --size-small: 8px;
  --size-medium: 16px;
  --size-large: 24px;
  --size-x-large: 32px;
  --size-xx-large: 40px;

  --size-cabecalho-phone: 42px;
  --size-cabecalho-desktop: 64px;
  --size-cabecalho-tablet: 112px;

  --size-border: var(--size-xx-small);
  --size-button: 36px;
  --size-input: 36px;
  --size-radius: 4px;
  --size-scroll: 0px;
}
