input {
  display: flex;
  width: 100%;
  height: var(--size-input);
  border-radius: var(--size-radius);
  padding: 0 var(--size-small);
  color: var(--color-input-texto);
  background-color: var(--color-input);

  &.input--reverse {
    background-color: var(--color-input-reverse);
  }

  &::placeholder {
    color: var(--color-texto);
  }
}

.input {
  &__secao {
    margin-bottom: var(--size-medium);
  }
}
