.input-botao {
  &__conteudo {
    border-radius: var(--size-radius);
    display: flex;
    width: 100%;

    input {
      flex-grow: 1;
      border-radius: var(--size-small) 0 0 var(--size-small);

      &.input--reverse {
        background-color: var(--color-input-reverse);
      }
    }
  }
}
