<section class="input__secao input-botao">
  <label *ngIf="label">{{ label }}</label>

  <div class="input input-botao__conteudo">
    <input
      [(ngModel)]="value"
      [type]="tipo"
      placeholder="{{ placeholder }}"
      [disabled]="desabilitado"
      [class.input--reverse]="isTrocarBotao"
      [class.input--erro]="erroMensagem"
    />

    <button class="button button--input" (click)="click()">
      {{ botaoTexto }}
    </button>
  </div>

  <p class="texto-erro" *ngIf="erroMensagem">{{ erroMensagem }}</p>
</section>
