.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: var(--size-header-phone);
  padding: 0 var(--size-medium);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .header {
    height: var(--size-header-desktop);
  }
}
