<section class="entrar">
  <ftc-sem-parar></ftc-sem-parar>

  <div class="entrar__conteudo">
    <svg class="cardume menos-telefone"></svg>

    <ftc-call-center></ftc-call-center>

    <form class="entrar__formulario" [formGroup]="form">
      <ftc-input-texto
        [placeholder]="'usuário'"
        [erroMensagem]="erroUsuario"
        [typeForm]="'texto'"
        formControlName="usuario"
        [(ngModel)]="valorUsuario"
        [inputReverse]="true"
      ></ftc-input-texto>

      <ftc-input-botao
        [placeholder]="'senha'"
        [erroMensagem]="erroMensagemSenha"
        [typeForm]="'password'"
        [isTrocarBotao]="true"
        formControlName="senha"
        [(ngModel)]="valorSenha"
        [inputReverse]="true"
      ></ftc-input-botao>

      <ftc-input-texto
        [placeholder]="'código'"
        [erroMensagem]="erroCodigo"
        [typeForm]="'texto'"
        formControlName="codigo"
        [(ngModel)]="valorCodigo"
        [inputReverse]="true"
      ></ftc-input-texto>

      <button type="submit" class="button button--primary" (click)="onSubmit()">
        entrar
      </button>

      <a class="entrar__ajuda" href="{{ forgotPassword }}" target="_blank"
        >problema para entrar?</a
      >
    </form>
  </div>
</section>

<ftc-progresso *ngIf="isCarregando"></ftc-progresso>
