.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding: 0 var(--size-medium);
  background-color: var(--color-default);
  border-bottom: var(--size-border) solid var(--color-border);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--size-header-phone);
  }

  &__left {
    display: flex;
    align-items: center;

    ftc-call-center {
      height: 20px;
      margin-left: var(--size-large);
    }

    svg {
      margin-left: var(--size-large);

      path:first-of-type {
        fill: var(--color-texto);
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    height: var(--size-header-tablet);

    &__top {
      height: var(--size-header-desktop);
    }
  }
}

@media (min-width: 1024px) {
  .header {
    height: var(--size-header-desktop);

    &__left {
      flex-grow: 1;
      margin-right: var(--size-medium);

      ftc-call-center {
        height: 20px;
        margin-left: 0;
      }

      svg {
        margin-left: 0;
      }
    }
  }
}
