<section class="cabecalho">
  <div class="cabecalho__norte">
    <div class="cabecalho__esquerda">
      <ftc-icone
        [icone]="'menu'"
        [size]="16"
        (click)="toggleMenu()"
        class="menos-computador"
      ></ftc-icone>

      <ftc-call-center></ftc-call-center>

      <ftc-favoritos
        *ngIf="clienteAtual"
        class="somente-computador"
      ></ftc-favoritos>
    </div>

    <h5 class="menos-telefone">olá, {{ nome }}</h5>
  </div>

  <ftc-favoritos *ngIf="clienteAtual" class="somente-tablet"></ftc-favoritos>
</section>
