.article {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px 16px;
}

@media (min-width: 768px) {
  .article {
    flex-direction: row;

    ftc-fuso-horario,
    ftc-contato {
      width: 50%;
    }
  }
}

@media (min-width: 1024px) {
  .article {
    flex-direction: column;
    padding-top: var(--size-medium);

    ftc-fuso-horario,
    ftc-contato {
      width: 100%;
    }
  }
}
