@import "./../../../assets/theme/tools/_border";

.card {
  @include border-radius;
  width: 100%;
  padding: var(--size-medium);
  background-color: var(--color-second);

  * {
    background-color: transparent;
  }
}
