<section class="login">
  <ftc-sem-parar></ftc-sem-parar>

  <div class="login__content">
    <svg class="cardume minus-phone"></svg>

    <ftc-call-center></ftc-call-center>

    <form class="login__form" [formGroup]="loginForm">
      <ftc-input-text
        [placeholder]="'usuário'"
        [errorMessage]="errorMessageUser"
        [typeForm]="'text'"
        formControlName="user"
        [(ngModel)]="userData"
        [inputReverse]="true"
      ></ftc-input-text>

      <ftc-input-button
        [placeholder]="'senha'"
        [errorMessage]="errorMessagePassword"
        [typeForm]="'password'"
        [isToggleButton]="true"
        formControlName="password"
        [(ngModel)]="passwordData"
        [inputReverse]="true"
      ></ftc-input-button>

      <ftc-input-text
        [placeholder]="'código'"
        [errorMessage]="errorMessageCode"
        [typeForm]="'text'"
        formControlName="code"
        [(ngModel)]="codeData"
        [inputReverse]="true"
      ></ftc-input-text>

      <button type="submit" class="button button--primary" (click)="onSubmit()">
        entrar
      </button>

      <a class="login__help" href="{{ forgotPassword }}" target="_blank"
        >problema para entrar?</a
      >
    </form>
  </div>
</section>

<ftc-progress *ngIf="loading"></ftc-progress>
