<section class="login">
  <svg class="sem_parar"></svg>

  <div class="login__content">
    <svg class="cardume minus-phone"></svg>

    <svg class="call_center"></svg>

    <form class="login__form" [formGroup]="loginForm">
      <ftc-input-text
        [placeholder]="'usuário'"
        [errorMessage]="errorMessageUser"
        [typeForm]="'text'"
        formControlName="user"
        [(ngModel)]="userData"
      ></ftc-input-text>

      <ftc-input-text
        [placeholder]="'senha'"
        [errorMessage]="errorMessagePassword"
        [typeForm]="'password'"
        formControlName="password"
        [(ngModel)]="passwordData"
      ></ftc-input-text>

      <ftc-input-text
        [placeholder]="'código'"
        [errorMessage]="errorMessageCode"
        [typeForm]="'text'"
        formControlName="code"
        [(ngModel)]="codeData"
      ></ftc-input-text>

      <button type="submit" class="button button--primary" (click)="onSubmit()">
        entrar
      </button>

      <a class="login__help" href="{{ forgotPassword }}" target="_blank"
        >problema para entrar?</a
      >
    </form>
  </div>
</section>
