.app {
  width: 100vw;
  height: 100vh;

  ftc-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--size-header-phone);
  }

  &__content {
    margin-top: var(--size-header-phone);
    display: flex;
    flex-direction: column;
  }

  .menu {
    position: absolute;
    top: 0;
    left: -100%;
    min-width: 300px;
    width: 300px;
    height: 100vh;
    overflow-x: auto;
    padding: 16px;
  }

  .main {
    width: 100%;
    padding: 16px;
  }
}

@media (min-width: 768px) {
  .app {
    ftc-header {
      height: var(--size-header-tablet);
    }

    &__content {
      margin-top: var(--size-header-tablet);
    }
  }
}

@media (min-width: 1024px) {
  .app {
    overflow: hidden;

    ftc-header {
      height: var(--size-header-desktop);
    }

    &__content {
      margin-top: var(--size-header-desktop);
      flex-direction: row;
    }

    .menu {
      position: relative;
      left: 0;
      padding-bottom: 80px;
    }

    .main {
      flex-grow: 1;
      overflow-x: auto;
      padding-bottom: 80px;
      height: 100vh;
    }

    ftc-article {
      min-width: 300px;
      width: 300px;
      max-width: 300px;
      height: 100vh;
      overflow-x: auto;
      padding-bottom: 64px;
    }
  }
}
