.app {
  width: 100vw;
  height: 100vh;

  ftc-cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--size-cabecalho-phone);
  }

  &__content {
    margin-top: var(--size-cabecalho-phone);
    display: flex;
    flex-direction: column;
  }

  &__main {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .app {
    ftc-cabecalho {
      height: var(--size-cabecalho-tablet);
    }

    &__content {
      margin-top: var(--size-cabecalho-tablet);
    }
  }
}

@media (min-width: 1024px) {
  .app {
    overflow: hidden;

    ftc-cabecalho {
      height: var(--size-cabecalho-desktop);
    }

    &__content {
      margin-top: var(--size-cabecalho-desktop);
      flex-direction: row;
    }

    &__main {
      flex-grow: 1;
      overflow-x: auto;
      padding-bottom: 80px;
      height: 100vh;
    }

    ftc-menu {
      min-width: 280px;
      width: 280px;
      max-width: 280px;
      height: 100vh;
      overflow-x: auto;
      padding-bottom: 64px;
    }

    ftc-artigo {
      min-width: 300px;
      width: 300px;
      max-width: 300px;
      height: 100vh;
      overflow-x: auto;
      padding-bottom: 64px;
    }
  }
}
