<section class="app">
  <!--
  <div class="app__main">
    <router-outlet></router-outlet>
  </div>

  <ftc-info *ngIf="currentUser"></ftc-info> -->

  <ftc-header *ngIf="currentUser"></ftc-header>

  <div class="app__content">
    <ftc-menu *ngIf="currentUser"></ftc-menu>

    <div class="main">
      2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, illum
      officia blanditiis voluptatem earum commodi cupiditate saepe harum animi
      libero ab accusamus nemo molestiae dignissimos quibusdam fugit possimus
      amet unde. Blanditiis explicabo esse maiores voluptates aspernatur harum
      molestiae nostrum a veniam? Aliquam magnam, quas placeat ipsum eius iure
      porro doloribus asperiores itaque deserunt dolores at quibusdam repellat
      delectus nihil non. Nihil hic laborum distinctio non, incidunt velit aut
      assumenda quis omnis et ratione sequi doloremque nam harum consequuntur
      doloribus? Ullam labore minima repellat illum praesentium. Aperiam
      voluptatibus maiores dolorem doloribus! Consectetur ipsam nulla, facere
      repellendus eligendi, exercitationem ullam voluptatum accusantium aperiam
      inventore nesciunt, nam natus animi eveniet sit repudiandae aliquam nobis.
      Quam commodi atque voluptatem? Libero molestias labore nobis optio?
      Laboriosam, dolorem commodi? Voluptatum nihil impedit quisquam vel, sequi
      iure eos quod dolorem autem quia esse quibusdam ut a cumque laborum quam
      sapiente inventore corporis unde repellat soluta non necessitatibus. Vero
      repellendus mollitia at doloremque ipsa. Eligendi nostrum accusantium ut
      modi fugiat vel sequi esse dolor tempore ipsam, sed voluptates iusto
      necessitatibus officiis, culpa minus aperiam, non explicabo asperiores ab?
      Culpa sunt harum, fugit neque non ea tenetur, corrupti officiis recusandae
      doloremque dicta ratione pariatur vel repudiandae esse expedita mollitia,
      ipsum placeat reprehenderit? Placeat explicabo corporis modi, vel tempora
      quidem? Alias, et fugit, fuga temporibus esse eum laboriosam, consequatur
      asperiores laborum error harum minus ad repudiandae placeat labore
      officiis neque inventore? Ratione sit, perspiciatis repellendus beatae
      necessitatibus asperiores quidem quia? Inventore at nihil quis nesciunt
      enim ipsa repellendus consectetur rem voluptatem sit explicabo minima
      incidunt unde sunt molestiae, rerum nobis asperiores hic ducimus
      cupiditate eos! Ullam possimus dolores modi culpa. Culpa sint molestiae
      expedita beatae porro aperiam, explicabo corrupti vero praesentium illum
      fuga alias cupiditate repellendus obcaecati quas voluptas accusamus fugiat
      amet! Deserunt vero, nostrum quis porro consequuntur qui facere? Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Quae, illum officia
      blanditiis voluptatem earum commodi cupiditate saepe harum animi libero ab
      accusamus nemo molestiae dignissimos quibusdam fugit possimus amet unde.
      Blanditiis explicabo esse maiores voluptates aspernatur harum molestiae
      nostrum a veniam? Aliquam magnam, quas placeat ipsum eius iure porro
      doloribus asperiores itaque deserunt dolores at quibusdam repellat
      delectus nihil non. Nihil hic laborum distinctio non, incidunt velit aut
      assumenda quis omnis et ratione sequi doloremque nam harum consequuntur
      doloribus? Ullam labore minima repellat illum praesentium. Aperiam
      voluptatibus maiores dolorem doloribus! Consectetur ipsam nulla, facere
      repellendus eligendi, exercitationem ullam voluptatum accusantium aperiam
      inventore nesciunt, nam natus animi eveniet sit repudiandae aliquam nobis.
      Quam commodi atque voluptatem? Libero molestias labore nobis optio?
      Laboriosam, dolorem commodi? Voluptatum nihil impedit quisquam vel, sequi
      iure eos quod dolorem autem quia esse quibusdam ut a cumque laborum quam
      sapiente inventore corporis unde repellat soluta non necessitatibus. Vero
      repellendus mollitia at doloremque ipsa. Eligendi nostrum accusantium ut
      modi fugiat vel sequi esse dolor tempore ipsam, sed voluptates iusto
      necessitatibus officiis, culpa minus aperiam, non explicabo asperiores ab?
      Culpa sunt harum, fugit neque non ea tenetur, corrupti officiis recusandae
      doloremque dicta ratione pariatur vel repudiandae esse expedita mollitia,
      ipsum placeat reprehenderit? Placeat explicabo corporis modi, vel tempora
      quidem? Alias, et fugit, fuga temporibus esse eum laboriosam, consequatur
      asperiores laborum error harum minus ad repudiandae placeat labore
      officiis neque inventore? Ratione sit, perspiciatis repellendus beatae
      necessitatibus asperiores quidem quia? Inventore at nihil quis nesciunt
      enim ipsa repellendus consectetur rem voluptatem sit explicabo minima
      incidunt unde sunt molestiae, rerum nobis asperiores hic ducimus
      cupiditate eos! Ullam possimus dolores modi culpa. Culpa sint molestiae
      expedita beatae porro aperiam, explicabo corrupti vero praesentium illum
      fuga alias cupiditate repellendus obcaecati quas voluptas accusamus fugiat
      amet! Deserunt vero, nostrum quis porro consequuntur qui facere?
    </div>

    <div class="article">
      3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, illum
      officia blanditiis voluptatem earum commodi cupiditate saepe harum animi
      libero ab accusamus nemo molestiae dignissimos quibusdam fugit possimus
      amet unde. Blanditiis explicabo esse maiores voluptates aspernatur harum
      molestiae nostrum a veniam? Aliquam magnam, quas placeat ipsum eius iure
      porro doloribus asperiores itaque deserunt dolores at quibusdam repellat
      delectus nihil non. Nihil hic laborum distinctio non, incidunt velit aut
      assumenda quis omnis et ratione sequi doloremque nam harum consequuntur
      doloribus? Ullam labore minima repellat illum praesentium. Aperiam
      voluptatibus maiores dolorem doloribus! Consectetur ipsam nulla, facere
      repellendus eligendi, exercitationem ullam voluptatum accusantium aperiam
      inventore nesciunt, nam natus animi eveniet sit repudiandae aliquam nobis.
      Quam commodi atque voluptatem? Libero molestias labore nobis optio?
      Laboriosam, dolorem commodi? Voluptatum nihil impedit quisquam vel, sequi
      iure eos quod dolorem autem quia esse quibusdam ut a cumque laborum quam
      sapiente inventore corporis unde repellat soluta non necessitatibus. Vero
      repellendus mollitia at doloremque ipsa. Eligendi nostrum accusantium ut
      modi fugiat vel sequi esse dolor tempore ipsam, sed voluptates iusto
      necessitatibus officiis, culpa minus aperiam, non explicabo asperiores ab?
      Culpa sunt harum, fugit neque non ea tenetur, corrupti officiis recusandae
      doloremque dicta ratione pariatur vel repudiandae esse expedita mollitia,
      ipsum placeat reprehenderit? Placeat explicabo corporis modi, vel tempora
      quidem? Alias, et fugit, fuga temporibus esse eum laboriosam, consequatur
      asperiores laborum error harum minus ad repudiandae placeat labore
      officiis neque inventore? Ratione sit, perspiciatis repellendus beatae
      necessitatibus asperiores quidem quia? Inventore at nihil quis nesciunt
      enim ipsa repellendus consectetur rem voluptatem sit explicabo minima
      incidunt unde sunt molestiae, rerum nobis asperiores hic ducimus
      cupiditate eos! Ullam possimus dolores modi culpa. Culpa sint molestiae
      expedita beatae porro aperiam, explicabo corrupti vero praesentium illum
      fuga alias cupiditate repellendus obcaecati quas voluptas accusamus fugiat
      amet! Deserunt vero, nostrum quis porro consequuntur qui facere?
    </div>
  </div>
</section>
