@import "./../../../assets/theme/tools/_border";

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: var(--index-second);
  width: 280px;
  height: 100vh;
  overflow-x: auto;
  padding: var(--size-medium);
  padding-top: 0;
  transition: 0.1s ease-in;

  ftc-icon {
    display: flex;
    justify-content: flex-end;
    margin: var(--size-medium) 0;
  }

  &--open {
    left: 0;
  }

  &__item {
    margin-bottom: var(--size-small);
  }

  &__subitem {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1px;
    height: 30px;
  }

  h5 {
    margin: var(--size-medium) 0 var(--size-small) 0;
  }

  svg {
    cursor: pointer;
    line-height: 100%;
  }

  p {
    @include border-radius;
    cursor: pointer;
    width: 100%;
    line-height: 30px;
    font-size: 14px;
    margin-left: var(--size-small);
    padding: 0 var(--size-x-small);
    background-color: transparent;

    &:hover {
      background-color: var(--color-second);
    }
  }

  &--favorite {
    fill: var(--color-third);
  }

  &--favorited {
    fill: var(--color-primary);
  }

  button {
    margin-top: var(--size-medium);
    width: min-content;
    padding-left: var(--size-medium);
    padding-right: var(--size-medium);
  }
}

@media (min-width: 1024px) {
  .menu {
    order: 1;
    position: relative;
    left: 0;
    z-index: var(--index-default);
    transition: none;
  }
}
