@import "./../../../assets/theme/tools/_border";

.menu {
  width: 280px;
  height: 100%;
  overflow-x: auto;
  padding: var(--size-medium);
  padding-top: 0;

  &__item {
    margin-bottom: var(--size-small);
  }

  &__subitem {
    display: flex;
    align-items: center;
    width: 100%;
  }

  h6 {
    margin-top: var(--size-medium);
  }

  svg {
    cursor: pointer;
    height: 21px;
  }

  p {
    @include border-radius;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    margin-left: var(--size-small);
    padding: var(--size-x-small) var(--size-x-small);
    background-color: transparent;

    &:hover {
      background-color: var(--color-second);
    }
  }

  &--favorite {
    fill: var(--color-third);
  }

  &--favorited {
    fill: var(--color-primary);
  }

  button {
    margin-top: var(--size-medium);
    width: min-content;
    padding-left: var(--size-medium);
    padding-right: var(--size-medium);
  }
}
