@import "./../../../assets/theme/tools/_border";

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: var(--index-second);
  width: 280px;
  height: 100vh;
  overflow-x: auto;
  padding: var(--size-medium);
  padding-top: 0;
  border-right: var(--size-border) solid var(--color-border);
  transition: 0.1s ease-in;

  &--open {
    left: 0;
  }

  &__item {
    margin-bottom: var(--size-small);
  }

  &__subitem {
    display: flex;
    align-items: center;
    width: 100%;
  }

  h5 {
    margin-top: var(--size-medium);
  }

  svg {
    cursor: pointer;
    height: 21px;
  }

  p {
    @include border-radius;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    margin-left: var(--size-small);
    padding: var(--size-x-small) var(--size-x-small);
    background-color: transparent;

    &:hover {
      background-color: var(--color-second);
    }
  }

  &--favorite {
    fill: var(--color-third);
  }

  &--favorited {
    fill: var(--color-primary);
  }

  button {
    margin-top: var(--size-medium);
    width: min-content;
    padding-left: var(--size-medium);
    padding-right: var(--size-medium);
  }
}
