<section class="menu" [class.menu--open]="toggleMenu()">
  <ftc-icon
    [icon]="'closed'"
    [size]="12"
    (click)="closedMenu()"
    class="minus-desktop"
  ></ftc-icon>

  <ul class="menu__item">
    <li *ngFor="let item of menu">
      <div *ngIf="canMenu(item.requiredService)">
        <h5>{{ item.name }}</h5>
        <ul>
          <li class="menu__subitem" *ngFor="let sub of item.submenu">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="11.007"
              height="10.468"
              (click)="toggleFavorite(sub)"
              class="minus-phone"
            >
              <path
                d="m5.5 0 1.7 3.445 3.8.556-2.752 2.68.649 3.786L5.5 8.679l-3.4 1.789.649-3.786L0 4l3.8-.556Z"
                [ngClass]="
                  getFavorited(sub) ? 'menu--favorited' : 'menu--favorite'
                "
              />
            </svg>

            <p (click)="selectRoute(sub.url)">{{ sub.name }}</p>
          </li>
        </ul>
      </div>
    </li>
  </ul>

  <ftc-toggle
    [label]="'tema escuro'"
    [value]="theme"
    (valueToggle)="valueTheme()"
  ></ftc-toggle>

  <button class="button button--primary" (click)="logout()">sair</button>
</section>

<ftc-overlay *ngIf="toggleMenu()" (overlayOutput)="closedMenu()"></ftc-overlay>

<ftc-notification
  *ngIf="isNotification"
  [content]="notification"
></ftc-notification>
