<section class="favorites">
  <ul *ngIf="favorites; else notFavorites">
    <li
      *ngFor="let item of favorites"
      class="chip ellipsis"
      [routerLink]="[item.url]"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="11.007" height="10.468">
        <path
          d="m5.5 0 1.7 3.445 3.8.556-2.752 2.68.649 3.786L5.5 8.679l-3.4 1.789.649-3.786L0 4l3.8-.556Z"
          fill="var(--color-primary)"
        />
      </svg>

      {{ item.name }}
    </li>
  </ul>
</section>

<ng-template #notFavorites>
  <div class="chip ellipsis width--max cursor--pointer">
    <svg xmlns="http://www.w3.org/2000/svg" width="11.007" height="10.468">
      <path
        d="m5.5 0 1.7 3.445 3.8.556-2.752 2.68.649 3.786L5.5 8.679l-3.4 1.789.649-3.786L0 4l3.8-.556Z"
        fill="var(--color-primary)"
      />
    </svg>

    seus favoritos
  </div>
</ng-template>
